 .wrapper{
 margin: 90px auto 20px;
  max-width: 1320px;
  /* padding: 0 30px 0; */
 }
 .courseCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 5px;
    /* padding: 20px; */
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    text-decoration: none; 
  color: inherit;
  p{
    color: #86868A;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
    letter-spacing: 1px;
  }

    &:hover {
      transform: scale(1.05); /* 放大 5% */
      box-shadow: rgba(60, 60, 60, 0.35) 0px 10px 20px; /* 添加陰影提升立體感 */
    }

    @media (max-width: 992px) {
      width: 100%;
    }
    @media (max-width: 390px) {
      padding: 18px 15px;
    }
  }

  .img {
    width: 100%;
    /* padding: 5px; */
    object-fit: cover;
    /* border: 1px solid var(--text-Wh, #f7f7f7); */
    border-radius: 3px;
    margin-bottom: 8px;

    @media (max-width: 992px) {
      width: 100%;
      height: auto;
    }
  }
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 5px 8px;
    border-radius: 5px;
    background: var(--Color, #045EDD);
    color: var(--real-wh, #fff);
    white-space: nowrap;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin: 8px 0 14px;
    box-sizing: border-box;
    @media (max-width: 390px) {
      font-size: 12px;
      padding: 5px 8px;
    }
  }
  .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    color: var(--Color, #3b3330);
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 12px;

    &:hover {
      color: #045EDD;
    }    
    @media (max-width: 992px) {
      font-size: 16px;
      letter-spacing: 0px;
    }
    @media (max-width: 390px) {
      font-size: 16px;
      min-height: 40px;
      -webkit-line-clamp: 2;
    }
  }
  .intro {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 100%;
    max-height: 50px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    align-self: stretch;
    color: var(--Color, #3b3330);
    text-overflow: ellipsis;
    font-size: 12.5px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.4px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 10px;

    @media (max-width: 992px) {
      font-size: 12px;
      letter-spacing: 0px;
    }
    @media (max-width: 390px) {
      font-size: 12px;
      -webkit-line-clamp: 3;
      letter-spacing: 1.5px;

      line-height: 15px;
    }
  }
.readMore{
  background-color: white;
  /* width: 100px; */
  height: 80px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  /* color: white; */
  padding: 5px;
  margin-top: auto;
  border-radius: 0;
}
.readMore:hover{
    background-color: #045EDD;
    color: #fff; 
    /* border-color:#045EDD;  */
    font-weight: 600;
  }

    .container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 300px auto 20px;
}

  .loader27 {
  font-size: 24px;
  font-weight: bold;
  color: #0000;
  animation: loader27-animation 1s infinite alternate linear;
  background: radial-gradient(circle closest-side, white , #0000)
    right/calc(200% - 1em) 100%;
}

.loader27::before {
  content: "Loading...";
  background: inherit;
  background-clip: text;
  background-image: radial-gradient(circle closest-side, #fff 94%, black);
}
.news{
  background-color: #F1F1F2;
}