.bag{
    background-image: url("/bag1.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.about{
display: flex;             
  justify-content: center;   
  align-items: center;      
  text-align: center; 
  height: 400px;  
  color: white;
  letter-spacing: 2px;
}
.text{
  display: flex;             
  justify-content: center;   
  align-items: center;  
  letter-spacing: 2px;
  font-size: 18px;
}
.sbar {
  background-color: #045EDD;
  width: 60px;
  height: 1.5px;
  border-radius: 5px;
  margin: 0 auto;  
}
.management{
  background-color: #F1F1F2;
}
.img{

  object-fit: cover;
  width: 100%; 
  max-height: 450px;
}