.footer{
    background-color: #F5F5F5;
    margin: 0;
    p{
        font-size: 14px;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
}
.bottom{
    background-color: #EBEBEB;
    padding: 30px;
    font-size: 10px;
    color: #666666;
}