.prosection{
  background-color: #f1f1f2;;
}
.bag{
    background-image: url("/bag2.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}
.about{
display: flex;             
  justify-content: center;   
  align-items: center;      
  text-align: center; 
  height: 400px;  
  color: white;
}
.wrapper{
  margin: 0px auto 20px;
  max-width: 1320px;
  padding: 0 30px 0;
}
.img{

  object-fit: cover;
  width: 100%; 
  max-height: 450px;
}